
    <main>
        <div class="grid">
            {{#if hasProd}}
                {{#each products}}
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product-title">{{this.title}}</h1>
                    </header>
                    <div class="card-image">
                        <img src="https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Ftimedotcom.files.wordpress.com%2F2015%2F06%2Fthe_4-hour_workweek_front_cover-copy.jpg%3Fquality%3D85&w=800&c=sc&poi=face&q=85"
                             alt="">
                    </div>
                    <div class="card-content"><h2 class="product-price"></h2>
                        <p class="product-description"></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn">Add to Cart</button>

                    </div>
                </article>
                {{/each}}

            {{else}}
                <h1>no prod</h1>
            {{/if}}
        </div>
    </main>
