.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    width: 100%;
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input {
    border: 1px solid orangered;
    font: inherit;
    border-radius: 5px;
}

button {
    font: inherit;
    background: white;
    border: 1px solid purple;
    border-radius: 5px;
    color: purple;
    cursor: pointer;
}

button:active,
button:hover {
    background-color: purple;
    color: white;
}
